{% extends "index.html" %}

{% load static %}

{% block content %}
<!-- TODO: needs link to download example.csv -->

<form class="form-horizontal" method="post" action="{% url 'csv_import' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="csv_download" class="col-sm-2 control-label">Example CSV</label>
        <dif class="col-sm-10">
            <a href="{% url 'download' 'example.csv' %}" class="btn btn-info" role="button">Download</a>
        </dif>
    </div>
    <div class="form-group">
        <label for="id_csv" class="col-sm-2 control-label">Import CSV</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" name="csv" id="id_csv" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="upload_button" name="upload_button"
                    data-loading-text="Uploading..." onautocomplete="off">Upload</button>
            <button type="button" class="btn btn-default" name="cancel_button">Cancel</button>
        </div>
    </div>
</form>

{% endblock %}